*{
  font-family: arial;
  font-size: 107%;
  color: #65918f;
  text-align: center;
}
body{
  background-image: -webkit-linear-gradient(#666ccc, #bc1324);
}
#ground{
  display: grid;
  grid-template: 25% 50% 25% / 35% 30% 35%;
  margin: 2% 5%;
  background-color: white;
}
#new-game{
  grid-column: 1 / span 4;
  /* grid-column-end: 4; */
  grid-row-start: 1;
  grid-row-end: 2;
}
#player-0{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
#dice_img{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
#player-1{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}
#roll-hold{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}
#dice{
  background-color: #f4511e;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 600px;
  opacity: 0.6;
  transition: 0.3s;
}
#dice:hover {
opacity: 1;
margin: 6px 600px;
}
#dice:active {
  background-color: #f45eee;
}
#hold{
  background-color: #f4511e;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 600px;
  opacity: 0.6;
  transition: 0.3s;
}
#hold:hover {
opacity: 1;
margin: 6px 600px;
}
#hold:active {
  background-color: #f45eee;
}
#new-game{
  background-color: #f4511e;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 600px;
  opacity: 0.6;
  transition: 0.3s;
}
#new-game:hover {
opacity: 1;
margin: 6px 600px;
}
#new-game:active {
  background-color: #f45eee;
}
.player-title, #roll-hold{
  font-weight: bold;
}
.current{
  font-style: italic;
}
.name_score, #roll-hold{
  border: 3px solid rgba(255, 0, 0, 0.5);
  border-radius: 10px;
  margin: 14x;
}
.active{
  background-color: rgb(195, 195, 195);
}
